# ignore bin
Ancient.exe

# ignore dlls
*.dll

# ignore configuration
config.lua

# ignore object output
compile/windows/dev-cpp/obj/*

# ignore makefile
compile/windows/dev-cpp/Makefile.win

# ignore notepad++ backup
*.bak
